<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
</head>
<body>
    <p>
        PAGINA DE CONSULTAS
    </p>

    <form action="/mensajes" method="post">
        <label>Nombre:</label>
        <br>
        <input type="text" name="nombre" id="nombre" required>
        <br>
        <label>E-Mail (opcional):</label>
        <br>
        <input type="email" name="email" id="email">
        <br>
        <label>Consulta:</label>
        <br>
        <textarea name="consulta" id="consulta" cols="45" rows="7"></textarea>
    </form>
</body>
</html>