<footer>
    <div>
    <h2>Mapa del sitio</h2>
    <ul>
      <li>Home</li>
      <li>Sobre Nosotras</li>
      <li>Cirugías</li>
      <li>Consultas</li>
    </ul>
    </div>
    <div>
    <h2>Redes</h2>
    <ul>
      <li>Facebook</li>
      <li>Instagram</li>
      <li>Linkedin</li>
      <li>Youtube</li>
    </ul>
    </div>
    <div>
    <h2>Cobertura</h2>
    <a href="https://www.google.com/maps/place/Buenos+Aires+Metropolitan+Area/@-34.6309889,-58.508507,11.33z/data=!4m6!3m5!1s0x95bcb3faddba8be7:0x93e8f54e16d05cc5!8m2!3d-34.5733392!4d-58.6458369!16zL20vMDMzODdr?entry=ttu" target="_blank"><img src="./img/mapa cobertura.png" alt="Zona de cobertura"></a>
    </div>
</footer>