
  @import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
    body {
  margin: 2px;
  font-family: 'Raleway', sans-serif;
  /* font-family: Arial, Helvetica, sans-serif; */
}

/* ------------------ NAVBAR ------------------------------------------- */

.topnav {
  overflow: hidden;
  background-image: linear-gradient(to right, hsla(270, 83%, 41%, 1), rgb(203, 40, 255));
  /* background-image: linear-gradient(to right, hsla(270, 83%, 41%, 1), rgb(255, 255, 255)); */
  /* background-color: #333; */
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-weight: 600;
}

.topnav a:hover {
  background-color: #9586C2;
  color: black;
}

.topnav a.active {
  background-color: #420a7a;
  color: white;
}

.topnav .icon {
  display: none;
}

/* ------------------ FIN NAVBAR ------------------------------------------- */

/* ------------------ BANNER ------------------------------------------- */

.banner {
  position: relative;
  background: #CB28FF;
  display: grid;
  place-items: center;
}

.banner img {
  /* position: absolute; */
  width: 100%;
  max-width: 1200px;
  height: auto;
  margin: 5px;
  padding: 50px 5px;
  /* top: -20px; */
}

#titulo {
  position: absolute;
  left: 66%;
  top: 10%;
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: 900;
  /* text-transform: uppercase; */
  text-shadow: 4px 4px 7px rgba(0,0,0,0.6);
}
/* ------------------ FIN BANNER ------------------------------------------- */

/* ------------------ SERVICIOS ------------------------------------------- */

.servicios {
  position: relative;
  padding: 15px;
  margin: 10px;
  font-size: 20px;
  z-index: 100; 
}

.servicios-txt {
  background: rgba(203, 40, 255, .4);
  top: -340px;
  position: absolute;
  color: #ffffff;
  width: 100%;
  padding: 2px;
  margin: 0;
}

.servicios-txt p {
  padding-top: .4rem;
  text-indent: 3rem;
}

/* ------------------ FIN SERVICIOS ---------------------------------------- */

/* ------------------ RESEÑA y SMOKE ---------------------------------------- */

.resenia {
  position: relative;
  height: 100vh;
  /* background-color: hsla(266, 6%, 23%, 1); */
  background-image: linear-gradient(to right, hsla(270, 83%, 41%, 1), rgb(203, 40, 255));
  /* background-image: linear-gradient(to right, hsla(266, 6%, 23%, 1), hsla(270, 83%, 41%, 1)); */
  padding: 30px;
  margin: 0 0 20px 0;
  color: #fff;
}

.resenia h2 {
  padding: 15px 0;
}

.row {
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
  align-content: flex-start;
  /* grid-template-columns: repeat(3, 1fr); */
  gap: 40px;
  padding: 12px 0 20px 0;
}

.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
  position: relative;
  width: 25%;
  height: 200px;
  background: #fff;
  border: 1px solid rgba(203, 40, 255, 1);
  border-radius: 6px;
  box-shadow: 5px 5px 20px black;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.01);
}

.txt-resenia {
  height: 200px;
  padding: 9%;
  color: #fff;
  background: hsla(0, 0%, 20%, .6);
  border-radius: 6px;
  font-style: italic;
  text-indent: 1rem;
  cursor: pointer;
}

.txt-resenia:hover {
  opacity: 0;
}

#card1 {
  background-image: url(../img/cute-pet-names.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#card1:hover :nth-child() {
  transform: scale(1.1);
}

#card2 {
  background-image: url(../img/health-beneiftis-of-pets-900x600.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#card3 {
  background-image: url(../img/gp-melbourne-189974771-1500x1066.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#card4 {
  background-image: url(../img/Pets-1-1200x800.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#card5 {
  background-image: url(../img/iStock-1324099927.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#card6 {
  background-image: url(../img/Pet-FAQs_dog-and-kitten.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* .resenia{
  grid-template-columns: repeat(3, 1fr);
} */

/* ------------ */


.smoke {
  display: grid;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
}

.smoke-items {
  background-color: #807e7f;
  height: 200px;
} 

/* ------------------ FIN RESEÑA y SMOKE ---------------------------------------- */

/* ------------------- FOOTER ----------------------------------------*/
footer {
  top: 200px;
  height: 250px;
  background-image: linear-gradient(to right, hsla(270, 83%, 41%, 1), rgb(203, 40, 255));
  /* background: #CB28FF; */
  /* background-image: linear-gradient(to right, hsla(270, 83%, 41%, 1), rgb(255, 255, 255)); */
  /* background-image: linear-gradient(to bottom right, rgb(190, 166, 218), #39363D); */
  color: #ffffff;
  /* font-size: 1.5rem; */
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  margin: 0;
  padding: 0 .6rem;
}

footer h2 {
  font-size: 1.5rem;
  padding-bottom: .8rem;
}

footer li {
  padding-bottom: .5rem;
  cursor: pointer;
}

footer img {
  width: 100%;
  max-width: 180px;
  height: auto;
}

/* ------------------- FIN FOOTER ----------------------------------------*/

/* ------------------- MEDIA QUERIES ----------------------------------------*/

/* Responsive media queries */

@media screen and (max-width: 1000px) {
  .card {
    width: 40%;
    height: 200px;
  }
  .resenia {
    height: 150vh;
  }
}

@media screen and (max-width: 768px) {
  .txt-resenia {
    font-size: .9rem;
  }
}

@media screen and (max-width: 620px) {
  .card {
    width: 70%;
    height: 200px;
  }
  
.txt-resenia {
  font-size: 1rem;
  height: 200px;
  padding: 3%;
  text-indent: .4rem;
}
  .resenia {
    height: 260vh;
  }
}

@media screen and (max-width: 600px) {

  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

@media screen and (max-width: 600px) {
}

